parameters:
    level: 4
    paths:
        - app/

    excludePaths:
        - storage/
        - vendor/
        - public/
        - resources/
        - bootstrap/
        - config/
        - database/
        - routes/
        - tests/

includes: []
