parameters:
    level: 6
    treatPhpDocTypesAsCertain: false
    paths:
        - app/

    excludePaths:
        - storage/
        - vendor/
        - public/
        - resources/
        - bootstrap/
        - config/
        - database/
        - routes/
        - tests/

    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        - '#.*HasFactory but does not specify its types: TFactory#'
        - '#.*Ticket::customer\(\) should return.*but returns.*#'
        - '#.*Type Illuminate\\\Http\\\Request\|object\|array\|null contains both object and a class type.*#'

includes: []
